# Librerías esenciales
numpy
pandas
openpyxl
pip==23.3.1

# Visualizaciones
matplotlib
seaborn
plotly-express

# Modelado y computación
scikit-learn
scipy
ortools

# APIs y scripts
wandb
streamlit
Flask
gunicorn
pyyaml
fire
pycaret==3.1.0
pillow
tensorflow

# Miscelánea
yfinance
geopandas
chart-studio
nltk
kaggle